@media screen and (max-width: 1260px) {
    .services_container {
        width: 80%;
    }
}
@media screen and (max-width: 1190px) {
    .checkbox label {
        font-size: 14px;
    }
    .form_span {
        width: 10px;
        height: 10px;
    }
    .first_line input {
        width: 40%;
    }
}
@media screen and (max-width:1160px) {
    .phone_number {
        font-size: 15px;
    }
    .header_logo img {
        width: 70%;
    }
    .services_item {
        width: 23%;
    }
}
@media screen and (max-width: 1085px) {
    .header_top {
        width: 80%;
    }
    .line-1 {
        left: 45%;
    }
    .line-2 {
        left: 65%;
    }
    .checkbox label {
        font-size: 12px;
    }
    .form_span {
        width: 9px;
        height: 9px;
    }
}
@media screen and (max-width: 980px) {
    .checkbox label {
        font-size: 10px;
    }
}
@media screen and (max-width: 959px) {
    .phone_number {
        font-size: 12px;
    }
    .header_link {
        font-size: 12px;
    }
    .header_logo img {
        width: 60%;
    }

}
@media screen and (max-width: 910px) {
    .phone_number {
        font-size: 10px;
    }
    .header_link {
        font-size: 10px;
    }
    .header_logo img {
        width: 60%;
    }
}
@media screen and (max-width: 835px) {
    .header_ul {
        width: 110%;
    }
}
@media screen and (max-width: 835px) {
    .form_span {
        width: 8px;
        height: 8px;
    }
}